<ion-content>
  <form [formGroup]="form">
    <h2 class="ion-padding">Welcome Back!</h2>
    <div id="error-notif" class="center" *ngIf="errorWithLogin">Sorry, the e-mail and password does not match.</div>
    <ion-item>
      <ion-label>E-mail Address</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" formControlName="password" (keyup.enter)="login()"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="login()" [disabled]="form.invalid" class="ion-margin">Let's go!</ion-button>
    <div class="ion-text-center">
      <small>Already have an account? <a href="register">Click Here</a></small>
    </div>
  </form>

</ion-content>
