<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title>Groups</ion-title>
    <ion-buttons slot="end">
      <ion-button href="add-groups/">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <h2 class="ion-margin">Created</h2>
  <div *ngIf="created.length">
    <ion-card *ngFor="let group of created">
      <ion-card-header>
        <ion-card-subtitle>{{ group.subtitle }}</ion-card-subtitle>
        <ion-card-title>{{ group.name }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{ group.desc }}
      </ion-card-content>
    </ion-card>
  </div>
  <div class="ion-text-center ion-padding" *ngIf="!created.length">
    <h4>Sorry, you currently have not created any groups</h4>
  </div>
  <h2 class="ion-margin">Joined</h2>
  <div *ngIf="joined.length">

  </div>
  <div class="ion-text-center ion-padding" *ngIf="!joined.length">
    <h4>Sorry, you currently have not joined any groups</h4>
  </div>
</ion-content>
